.day-picker-dropdown {
    color: black;
    background-color: white;
  }
  
  .day-picker-dropdown select {
    color: black;
    background-color: white;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* For Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
